@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    background-color: #E10600;
    font-family: 'Righteous', cursive;
}
nav {
    background-color: ghostwhite;
    box-shadow: 6px 6px 16px 5px rgb(0, 0, 0);
    .navbar-brand {
        font-size: 25px;
        font-weight: 500;
    }
    img {
        width: 80px;
        margin-right: 15px;
    }
}

#container {
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0);
}



footer {
    margin: 0px;
    background-color: ghostwhite;
    box-shadow: 6px 6px 16px 5px rgb(0, 0, 0);
}  
.dIcon {
    width: 24px;
    height: 24px;
}